.TodoSearch {
  width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto 24px auto;
  padding: 12px 16px;

  font-size: 1rem;
  border-radius: 12px;
  border: 2px solid #23240a;
  outline: none;

  background-color: white;
  color: #ba0867;

  box-shadow: 0 4px 10px rgba(158, 36, 160, 0.15);
}

/* cuando haces foco */
.TodoSearch:focus {
  border-color: #ba0867;
}
