.Card {
  background-color: #59C579;
  border-radius: 20px;
  padding: 24px;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

.CreateTodo {
  display: flex;
  flex-direction: column;
}


/* Columna izquierda */
.CreateTodo h2 {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: #ba0867;
}

/* Ajustar input dentro del form */
.CreateTodo .TodoSearch {
  width: 100%;
  margin: 8px 0 16px 0;
}

/* ESTILOS IMAGEN */

.CreateTodo-image {
  margin-top:auto;          
  padding-top: 8px;         
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 350px;
  overflow: hidden;
}


.CreateTodo-image img {
  width: auto;
  transform: translateY(6px);
  height: 450px;             
  opacity: 0.85;
}


@media (max-width: 768px) {
  .CreateTodo-image {
    display: none;
  }
}


